<header class="navbar">

  <div class="container navbar__inner">


    <!-- LOGO -->

    <a
      href="/"
      class="navbar__brand"
      (click)="goHome($event)"
      aria-label="Go to home"
    >

      PD<span>.</span>

    </a>



    <!-- DESKTOP NAVIGATION -->

    <nav
      class="navbar__links"
      aria-label="Main navigation"
    >

      @for (
        item of navItems;
        track item.id
      ) {

        <a
          [href]="'#' + item.id"

          (click)="
            goToSection(
              $event,
              item.id
            )
          "

          [class.active]="
            activeSection() === item.id
          "
        >

          {{ item.label }}

        </a>

      }

    </nav>



    <!-- MOBILE BUTTON -->

    <button
      type="button"
      class="navbar__menu-button"

      [class.open]="menuOpen()"

      (click)="toggleMenu()"

      aria-label="Toggle navigation menu"

      [attr.aria-expanded]="menuOpen()"
    >

      <span></span>
      <span></span>

    </button>


  </div>



  <!-- MOBILE MENU -->

  <div
    class="navbar__mobile"
    [class.open]="menuOpen()"
  >

    <div class="container">

      @for (
        item of navItems;
        track item.id
      ) {

        <a
          [href]="'#' + item.id"

          (click)="
            goToSection(
              $event,
              item.id
            )
          "

          [class.active]="
            activeSection() === item.id
          "
        >

          <span>
            0{{ $index + 1 }}
          </span>

          {{ item.label }}

        </a>

      }

    </div>

  </div>


</header>
