<section
  id="projects"
  class="projects"
>

  <div class="container">


    <div class="projects__heading">

      <div>

        <span class="section-kicker">
          SELECTED WORK
        </span>

        <h2>
          Featured Projects
        </h2>

      </div>


      <p>
        A selection of applications and systems
        I've built across web, mobile, AI and
        software integration.
      </p>

    </div>


    <div class="projects__list">

      @for (
        project of projects;
        track project.id
      ) {

        <app-project-card
          [project]="project"
        />

      }

    </div>


  </div>

</section>
