<section
  id="services"
  class="services"
>

  <div class="container">


    <!-- HEADER -->

    <div class="services__header">

      <div class="services__eyebrow">

        <span>
          04
        </span>

        WHAT I DO

      </div>


      <div class="services__heading">

        <h2>

          From idea
          <span>
            to implementation.
          </span>

        </h2>


        <p>

          I build software across the stack,
          combining interfaces, backend systems,
          data and external services into complete
          applications.

        </p>

      </div>

    </div>



    <!-- SERVICES -->

    <div class="services__grid">

      @for (
        service of services;
        track service.number;
        let index = $index
      ) {

        <article
          class="service-card"

          appReveal

          [revealDelay]="
            index * 90
          "
        >


          <!-- TOP -->

          <div class="service-card__top">

            <span class="service-card__number">

              {{ service.number }}

            </span>


            <div class="service-card__icon">

              @switch (index) {

                @case (0) {

                  <span>
                    &#123; &#125;
                  </span>

                }

                @case (1) {

                  <span>
                    ▣
                  </span>

                }

                @case (2) {

                  <span>
                    ⌘
                  </span>

                }

                @case (3) {

                  <span>
                    ✦
                  </span>

                }

              }

            </div>

          </div>



          <!-- CONTENT -->

          <div class="service-card__content">

            <h3>

              {{ service.title }}

            </h3>


            <p>

              {{ service.description }}

            </p>

          </div>



          <!-- TECHNOLOGIES -->

          <div class="service-card__technologies">

            @for (
              technology
              of service.technologies;
              track technology
            ) {

              <span>

                {{ technology }}

              </span>

            }

          </div>



          <!-- DECORATIVE ARROW -->

          <div
            class="service-card__arrow"
            aria-hidden="true"
          >
            ↗
          </div>


        </article>

      }

    </div>


  </div>

</section>
